a { 
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a:link { 
  color: #d62828;  
  font-family: "Playfair Display", Times, San-serif;
  font-size: 14px;
}

header {
  background-color: #eae2b7; 
  padding: 50px;
}

.header-container {
  display: flex; row
  justify-content: space-between; 
  align-items: center; 
  max-width: 1000px; 
  margin: 0 auto; 
}

.logo {
  font-family: "Playfair Display", Times, San-serif;
  font-size: 32px;
  color: #133e5c;
}

.nav-links a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-left: 20px; 
  text-decoration: underline; 
  color: #003049;
}

.nav-links a {
  color: #d62828;
}
body { 
  background-color: #eae2b7; 
}

a:hover { 
  color:#f77f00; 
}

img {
  width: 50px;
}

h1, h2, h3, h4, nav, footer {
  text-align: center;
}

h4 { 
  text-align: right; 
}

.contact { 
  display: flex;center
  flex-direction: colum;
  align-items: center; /
}

.image-circle {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%; 
  margin-left: 3px;
}

.hi-section {
  display: flex;
  justify-content: right; 
  align-items: center; 
  gap: 20px; 
}

.image-circle {
  border-radius: 50%;
  width: 150px; 
}

.about-content {
  max-width: 600px; 
}

h1, h2, h3, h4, p, li, article {
  font-family: "Playfair Display", Times, Sans-serif;
  color: #003049; /
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}


li {
  font-size: 14px;
}

article div {
  text-align: center;
  width: 75%;
}

div {
  margin: auto;
  width: 600px;
}

 hr {
   border: 1px solid black;
   width: 100%;
 }

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 3%;
}

.image-container {
  text-align: center;
  width: 50%;
}

.image-container img {
  width: 98%;
  height: fit-content;
}
.image-container h4{
  margin-top: 10px;
}
