/* General link styles */
a {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a:link {
  color: #d62828;
  font-family: "Playfair Display", Times, Sans-serif;
  font-size: 14px;
}

a:hover {
  color: #f77f00;
}

/* Header styles */
header {
  background-color: #eae2b7;
  padding: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  font-family: "Playfair Display", Times, Sans-serif;
  font-size: 32px;
  color: #133e5c;
}

/* Navigation link styles */
.nav-links a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-left: 20px;
  text-decoration: underline;
  color: #003049;
}

.nav-links a:hover {
  color: #d62828;
}

/* Body and general text styling */
body {
  background-color: #eae2b7;
}

h1, h2, h3, h4, p, li, article {
  font-family: "Playfair Display", Times, Sans-serif;
  color: #003049;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  text-align: right; /* If needed, remove if everything is centered */
}

p, li {
  font-size: 14px;
  line-height: 1.5;
}

article div {
  text-align: center;
  width: 75%;
}

div {
  margin: auto;
  width: 600px;
}

/* Image styles */
img {
  width: 50px;
}

.image-circle {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  margin-left: 3px;
  width: 150px; /* To ensure consistency */
}

.hi-section {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.about-content {
  max-width: 600px;
  margin: auto; /* Ensures centering */
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}

.image-container {
  text-align: center;
  width: 30%; /* Adjusted for better alignment */
}

.image-container img {
  width: 100%;
  height: auto; /* Ensure proper scaling */
}

.image-container h4 {
  margin-top: 10px;
}

/* Contact section */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Horizontal rule */
hr {
  border: 1px solid black;
  width: 100%;
}
